.fade{
    -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
    transition: opacity 1s;
    opacity: 0;
}
.fadeOut{
  transition: opacity 1s;
  opacity: 0.6;
}
#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-family: 'Comfortaa';
  font-size: 1000%;
  font-weight: normal;
  text-align: center;
  text-shadow: 3px 3px 6px #082b34;
  font-weight: bold;
}


.hero-unit {
  position: relative;
  padding-top: 3%;
  padding-bottom: 3%;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-image: url("./../../assets/images/header.jpg");
  background-size: cover;
  background-position: 0% 15%;
}
.lead {
  font-family: 'Comfortaa';
  font-weight: normal;
  text-align: center;
  text-shadow: 2px 2px 4px #082b34;
  font-size: 400%;
}
.logo{
  width: 30px;
}
.navbar-text {
  margin-left: 15px;
}
.mainBtn {
  font-family: 'Comfortaa';
  background: #082b34;
  border-radius: 72px;
  color: #ffffff;
  font-size: 200%;
  /*padding: 2% 4% 2% 4%;*/
  text-decoration: none;
  width: 35%;
  margin: auto;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  display: inline-block;
  opacity: 0.6;
  border: 4px solid #082b34;
}
.mainBtn:hover {
  opacity: 1;
  border: 4px solid white;
}
.mainBtn i{
  display: inline;
  margin-right: 7%;
  font-size: 200%;
  line-height: 100%;
  vertical-align: middle;
}
.mainBtn p{
  display: inline-block;
  text-align: center;
  margin: auto;
  vertical-align: middle;
}

@media screen and (max-width: 700px){
  .mainBtn{
    display: inline;
    margin-right: 7%;
    font-size: 100%;
    line-height: 130%;
  }
  .lead {
  font-size: 150%;
  }
}
.mozaic {
  width: 90%;
  margin: auto;
}
.mozaic h1 {
  font-family: 'Comfortaa';
  font-size: 500%;
  font-weight: normal;
  text-shadow: 3px 3px 6px #082b34;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 1%;
}
.deckgrid[deckgrid]::before {
   /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
   content: '5 .column.column-1-5';
   font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
   visibility: hidden;
}

.deckgrid .column {
   float: left;
}

.deckgrid .column-1-5 {
   width: 20%;
}

.deckgrid .column-1-1 {
   width: 100%;
}

@media screen and (max-width: 480px){
   .deckgrid[deckgrid]::before {
       content: '1 .column.column-1-1';
   }
}
.imagegrid{
  max-width: 100%;
  border: 4px solid black;

}
.a-card{
   margin-top: 1%;
   margin-left: 1%;
   position: relative;
}




.view-animate.ng-enter, .view-animate.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  transition:all 1s;
}

.view-animate.ng-enter {
  opacity:0;
}
.view-animate.ng-leave {
  opacity:1;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity:0;
}





